body {
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 100;
}