.SproutTroopRow{
    display: grid;
    grid-template-columns: repeat(5,auto);
    box-shadow: 0 2px 1px -1px rgba(255,255,255,0.2), 0 1px 1px 0 rgba(255,255,255,0.14), 0 1px 3px 0 rgba(255,255,255,0.12);
    border-radius: 4px;
    min-height: 45px;
    padding: 4px;

    font-family: 'Archivo Black', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin:auto 5px;
}

.SproutTroopRow_image{
    margin:auto 5px;
    max-width:65px;
    width:100%;
}

.SproutTroopRow_Switch{
    margin:auto 5px;
}