<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Debellatio</title>
    <style>
        body {
            background: black;
            background-image: url("/resources/img/background-waiting.jpg");
            background-position: top center;
            background-repeat: no-repeat;
            display: grid;
            align-content: center;
            justify-content: center;
        }

        main {
            display: grid;
            align-content: center;
            justify-content: center;
            margin-top: 30vh;
        }

        h1 {
            color: White;
            text-shadow: 4px 4px #000000;
            margin: auto auto 30px auto;
            font-family: "Arial Black", Gadget, sans-serif;
            font-weight: 100;
            font-size: 70px;
        }

    </style>
</head>
<body>
<main>
    <h1>Waiting for players to join</h1>
    <% if(id){ %>
        <h1><%=id %></h1>
    <% } %>

</main>
</body>
</html>