.singleTerritoryBox{
    background-blend-mode: overlay;
    width:9vw;
    height: 6vw;
    border: 1px solid black;
    display: grid;
    font-size: 8px;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
}

.singleTerritoryBox_name{
    grid-column: 2 / 3;
}
.singleTerritoryBox_troop{
    grid-column: 1 / 4;
    display: grid;
    justify-items: center;
    align-items: end;
}

.singleTerritoryBox_troop > img{
    width:80%;
}

/*ArmyColors*/
.armyNon{background-color: aliceblue;}
.armyA{background-color: mediumslateblue;}
.armyB{background-color: lightcoral;}
.armyC{background-color: darkslategrey;}
.armyD{background-color: yellow;}
.armyE{background-color: crimson;}
.armyF{background-color: greenyellow;}
.armyG{background-color: coral;}
.armySea{
    /*background-image: url("/resources/img/sea.jpg");*/
    background-image: url("/img/sea.jpg");
}

.SingleTerritory_capital-port{
    background-image: url("/img/port.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.SingleTerritory_capital-city{
    background-image: url("/img/capital.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width : 800px) {
    .singleTerritoryBox{
        font-size: 16px;
    }
}