.GameMap{
    display: grid;
    grid-gap: 0px 0px;
    width:81%;
    margin:auto;
    grid-template-areas:
            ".  .  aa ab ac ad ae  .  ."
            ".  af ag ah ai aj ak al  ."
            "am an ao ap aq ar as at au"
            "av aw ax ay az ba bb bc bd"
            "be bf bg bh bi bj bk bl bm"
            ".  bn bo bp bq br bs bt  ."
            ".  .  bu bv bw bx by  .  .";
}